/* HTML & BODY */
html, body {
	position: relative;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 21px;
}

body {
	box-sizing: border-box;
	font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	color: rgb(255, 255, 255);
	background-color: rgb(244, 244, 244);
}


/* ELEMENTS */
h1, h2, h3 {
	max-width: 90%;
	/* margin: 0 auto; */
	text-align: center;
}

h1 {
	font-size: 3rem;
	margin: 1rem auto;
}

h2 {
	font-size: 2rem;
	margin: 1rem auto;
}

h3 {
	font-size: 1.15rem;
	margin: 1rem auto;
}

p {
	font-size: 1rem;
}

/* HEADING DASH */

.dash {
	display: table;
	white-space: nowrap;
}

.dash::before, .dash::after {
	border-top: 2px solid rgb(255, 255, 255);
	content: '';
	display: table-cell;
	position: relative;
	top: 0.75em;
	/* width: 30%; */
	/* width: 200px; */
	width: 20vw;
}

.dash::before {
	right: 15%;
}

.dash::after {
	left: 15%;

}


/* SPACING */
.content {
	min-width: 280px;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 25px 0px;
}

.content__section {
	padding: 1vw 0;
}

.content__text {
	text-align: justify;
	margin: auto;
	max-width: 75%;
}

/* BREAKPOINTS */

/* Large Screens */
@media (min-width: 992px) {

	html {
		font-size: 21px;
	}

	h1 {
		color: blue;
	}

}

/* Laptops */
@media (max-width: 992px) and (min-width: 768px) {

	html {
		font-size: 20px;
	}

	h1 {
		color: rgb(255, 230, 0);
	}



}

/* Tablets */
@media (max-width: 768px) and (min-width: 576px) {

	html {
		font-size: 19px;
	}

	h1 {
		color: rgb(255, 0, 0);
	}

	.content {
		padding: 15px 0px;
	}

	.content__text {
		max-width: 85%;
	}
}

/* Phones */
@media (max-width: 576px) {

	html {
		font-size: 18px;
	}

	h1 {
		font-size: 2.5rem;
		color: rgb(225, 0, 255);
	}

	h2 {
		font-size: 1.5rem;
	}

	.content {
		padding: 15px 0px;

	}

	.content__text {
		text-align: left;
		max-width: 90%;
	}
}

/* Fallback fixed attachment to scroll because it is not supported on iOS mobile */
@media only screen and (hover: none) and (pointer: coarse) {
	.background {
		background-attachment: scroll !important;
	}
}