/* HTML & BODY */
html, body {
	position: relative;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 21px;
}

body {
	box-sizing: border-box;
	font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	color: rgb(255, 255, 255);
	background-color: rgb(244, 244, 244);
}


/* ELEMENTS */
h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

p {
	font-size: 1rem;
}


/* SPACING */
.content {
	min-width: 280px;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 25px 0px;
}

.content__text {
	text-align: justify;
	max-width: 90%;
	margin: auto;
}

/* BREAKPOINTS */

/* Large Screens */
@media (min-width: 992px) {

	html {
		font-size: 21px;
	}

	h1 {
		color: blue;
	}

	.content__text {
		max-width: 75%;
	}

}

/* Laptops */
@media (max-width: 992px) {

	html {
		font-size: 20px;
	}

	h1 {
		color: rgb(255, 230, 0);
	}

}


/* Tablets */
@media (max-width: 768px) {

	html {
		font-size: 19px;
	}

	h1 {
		color: rgb(255, 0, 0);
	}
}

/* Phones */
@media (max-width: 576px) {

	html {
		font-size: 18px;
	}

	h1 {
		color: rgb(225, 0, 255);
	}

	.content__text {
		text-align: left;
	}
}